<div class="container"  id="container">
    <div class="progress-container" id="progress-container">
        <div class="progress" id="progress"></div>
        <div class="circle active">
            <mat-icon style="color:#1967D2 ;">check</mat-icon>
        </div>
        <div class="circle ">
            <mat-icon *ngIf="flag1" style="color:#1967D2 ;">check</mat-icon>
        </div>
        <div class="circle ">
            <mat-icon *ngIf="flag1" style="color:#1967D2 ;">check</mat-icon>
        </div>
        <div class="circle ">
            <mat-icon *ngIf="flag1" style="color:#1967D2 ;">check</mat-icon>
        </div>
    </div>
    <button class="btn" (click)="prevButton()">back</button>
    <button class="btn" (click)="nextButton()">next</button>
</div>