@import "../../../../../styles/variables.scss";
.navbar {
  font-size: 16px;
  width: 15.3125em;
  position: fixed;
  z-index: 1000;
  top: 12.625em;
  left: 0;
  .navbar__list {
    .navbar__item {
      margin: 0.625em 0;
      cursor: pointer;
      &:hover {
        .navbar__link {
          background: $color-bg-hover-primary;
          .navbar__ico-list {
            path {
              fill: $color-text-hover-primary;
            }
          }
        }
      }
      .navbar__link {
        height: 3.3125em;
        display: flex;
        align-items: center;
        text-decoration: none;
        color: $color-white;
        background: $color-bg-primary;
        box-shadow: 0em 0.5em 0.625em rgba(0, 0, 0, 0.14),
          0em 0.1875em 0.875em rgba(63, 46, 46, 0.12),
          0em 0.3125em 0.3125em rgba(0, 0, 0, 0.2);
        border-radius: 3.125em;
        border-radius: 0em 3.125em 3.125em 0em;
        transition: $transition;
        .navbar__ico-list {
          width: 1.1875em;
          margin-left: 2.0625em;
          margin-right: 0.9375em;
          path {
            fill: $color-white;
          }
        }
        .navbar__text-list {
          font-size: 1.375em;
        }
      }
      .activeRoute {
        background: $color-bg-hover-primary;
        .navbar__ico-list {
          path {
            fill: $color-text-hover-primary;
          }
        }
      }
    }
  }
}
.modal-logout {
  position: fixed;
  right: calc(100% - 263px);
  top: 310px;
  z-index: 200;
  width: 525px;
  height: 297px;
  background: #fdff9a;
  border: 1px solid rgba(253, 255, 154, 0.98);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding-bottom: 21px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  .modal__container-logout {
    width: 474px;
    display: flex;
    margin-top: 58px;
    align-items: center;
    .modal__ico-info {
      width: 80px;
      height: 82px;
    }
    .modal__text {
      font-size: 24px;
      text-align: center;
      letter-spacing: 0.25px;
      color: #a06b15;
      margin-bottom: 0;
      margin-left: 15px;
      line-height: 40px;
    }
  }
  .modal__options {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 95px;
    padding-right: 29px;
    .btn-modal__cancel {
      width: 168px;
      height: 59px;
      background: #ffffff;
      color: #083d5e;
      border: 1px solid #083d5e;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 35px;
      font-size: 20px;
      transition: $transition;
      cursor: pointer;
    }
    .btn-modal__accept {
      width: 168px;
      height: 59px;
      color: #e60d0d;
      background: #ffffff;
      border: 1px solid #c70f0f;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 35px;
      font-size: 16px;
      padding: 0 20px;
      transition: $transition;
      cursor: pointer;
    }
  }
}
@media (max-width: 1400px) {
  .navbar {
    font-size: 14px;
    top: 145px;
  }
  .modal-delete {
    top: 222px;
  }
}
@media (max-width: 768px) {
  .navbar {
    font-size: 12px;
    top: 115px;
  }
  .modal-delete {
    top: 200px;
  }
}
