<section class="navbar">
  <a class="navbar__home" routerLink="dashboard/home">
    <img
      class="navbar__ico-home"
      src="../../../../../assets/icons/House.svg"
      alt="Icono de home"
    />
    <h3 class="navbar__text-home">HOME</h3>
  </a>
  <ul class="navbar__list">
    <li class="navbar__item">
      <a routerLink="dashboard/usuarios" class="navbar__link">
        <img
          class="navbar__ico-list"
          src="../../../../../assets/icons/person_check_icon.svg"
          alt="Icono de usuarios"
        />
        <h2 class="navbar__text-list">Usuarios</h2>
      </a>
    </li>
    <li class="navbar__item">
      <a routerLink="dashboard/centros" class="navbar__link">
        <img
          class="navbar__ico-list"
          src="../../../../../assets/icons/Building.svg"
          alt="Icono de centros"
        />
        <h2 class="navbar__text-list">Centros</h2>
      </a>
    </li>
    <li class="navbar__item">
      <a routerLink="dashboard/ejes" class="navbar__link">
        <img
          class="navbar__ico-list"
          src="../../../../../assets/icons/List ol.svg"
          alt="Icono de ejes"
        />
        <h2 class="navbar__text-list">Ejes</h2>
      </a>
    </li>
    <li class="navbar__item">
      <a routerLink="dashboard/reportes" class="navbar__link">
        <img
          class="navbar__ico-list"
          src="../../../../../assets/icons/Layout text window reverse.svg"
          alt="Icono de reportes"
        />
        <h2 class="navbar__text-list">Reportes</h2>
      </a>
    </li>
    <li class="navbar__item">
      <a routerLink="dashboard/ayuda" class="navbar__link">
        <img
          class="navbar__ico-list"
          src="../../../../../assets/icons/Question circle.svg"
          alt="Icono de ayuda"
        />
        <h2 class="navbar__text-list">Ayuda</h2>
      </a>
    </li>
    <li class="navbar__item">
      <a routerLink="../" class="navbar__link">
        <img
          class="navbar__ico-list"
          src="../../../../../assets/icons/Box arrow left.svg"
          alt="Icono de cerrar sesión"
        />
        <h2 class="navbar__text-list">Cerrar Sesión</h2>
      </a>
    </li>
  </ul>
</section>
