<div
  class="compare"
  *ngIf="variable.tipo === 'Numérico' || variable.tipo === 'Numerico'"
>
  <p class="compare__value" *ngIf="variable.genero === 'true'">
    <span>Total: </span>
    {{
      variable.report1.masculino +
        variable.report1.femenino +
        variable.report1.noBinario
    }}
  </p>
  <p class="compare__value" *ngIf="variable.genero !== 'true'">
    {{ variable.report1.numerico }}
  </p>
  <p class="compare__variable">{{ index }} - {{ variable.nombre }}</p>
  <p class="compare__value" *ngIf="variable.genero === 'true'">
    <span>Total: </span>
    {{
      variable.report2.masculino +
        variable.report2.femenino +
        variable.report2.noBinario
    }}
  </p>
  <p class="compare__value" *ngIf="variable.genero !== 'true'">
    {{ variable.report2.numerico }}
  </p>
</div>
<div class="compare" *ngIf="variable.escala_valor === 'true'">
  <p class="compare__value">
    {{ variable.report1.escala }}
  </p>
  <div class="compare__container">
    <p class="compare__variable">{{ index }} - {{ variable.nombre }}</p>
    <div class="value-scale">
      <p class="value-scale__tag">{{ variable.etiqueta_inicial }}</p>
      <div class="value-scale__container" *ngFor="let item of valueScale">
        <p class="value-scale__number">{{ item }}</p>
        <img
          class="value-scale__circle"
          src="../../../../../assets/icons/circle.svg"
          alt="icono de circulo"
        />
      </div>
      <p class="value-scale__tag">{{ variable.etiqueta_final }}</p>
    </div>
  </div>
  <p class="compare__value">
    {{ variable.report2.escala }}
  </p>
</div>
