<div class="compare" *ngIf="variable.tipo === 'Numérico'">
  <p class="compare__value">
    <span *ngIf="variable.genero === 'true'">Total: </span
    >{{ variable.report1 }}
  </p>
  <p class="compare__variable">{{ index }} - {{ variable.nombre }}</p>
  <p class="compare__value">
    <span *ngIf="variable.genero === 'true'">Total: </span
    >{{ variable.report2 }}
  </p>
</div>
<div class="compare" *ngIf="variable.tipo === 'Textual'">
  <p class="compare__value">
    {{ variable.report1 }}
  </p>
  <div class="compare__container">
    <p class="compare__variable">{{ index }} - {{ variable.nombre }}</p>
    <div class="value-scale">
      <p class="value-scale__tag">{{ variable.etiqueta_inicial }}</p>
      <div class="value-scale__container" *ngFor="let item of valueScale">
        <p class="value-scale__number">{{ item }}</p>
        <img
          class="value-scale__circle"
          src="../../../../../assets/icons/circle.svg"
          alt="icono de circulo"
        />
      </div>
      <p class="value-scale__tag">{{ variable.etiqueta_final }}</p>
    </div>
  </div>
  <p class="compare__value">
    {{ variable.report2 }}
  </p>
</div>
