<div class="container-ejes" id="select-ejes">
    <mat-select class="mat-select-ejes" placeholder="Selecciona un Eje de Variables" [(value)]="axe"
        name="eje" (selectionChange)="capturarEje($event.value)">
        <mat-option [value]="item" *ngFor="let item of listOfAxes">{{item.nombre}}</mat-option>
    </mat-select>
    <mat-select  #mySelCategory class="mat-select-ejes" placeholder="Selecciona una o más."
        multiple="" [(value)]="variables" name="variables"
        (selectionChange)="capturarVariables($event.value)">
        <mat-option [value]="0" (click)="selectAll()"  ngClass="'mat-pseudo-checkbox-checked':flag == true  " >Seleccionar todas</mat-option>
        <mat-option [value]="item" *ngFor="let item of listOfVariablesShow">{{item.nombre}}</mat-option>
    </mat-select>
</div>
<mat-error *ngIf="!axe">Seleccione un eje y variables</mat-error>

<div class="container-label-variables">
    <div>
        <mat-error *ngIf="variablesArray.length==0">Seleccione variables</mat-error>
        <div>
            <label>Variables Seleccionadas </label>
        </div>
        <label class="label-variables" *ngFor="let item of variables">{{item.nombre}}<a
                style="cursor: pointer; margin-top: 5px;" (click)="removeVariable(item)">
                <mat-icon>cancel</mat-icon>
            </a>
        </label>
    </div>
    
</div>

