@import "../../../../../styles/variables.scss";

.container-ejes {
    display: flex;
    flex-direction: row;
}

.mat-select-ejes {
    margin-top: 10px;
    margin-right: 140px;
    box-sizing: border-box;
    border: 1px solid #979797;
    border-radius: 4px;
    width: 299px;
    height: 56px;
    font-family: "Futura Bk BT";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    padding: 10px;
    letter-spacing: 0.5px;
    color: #1c1b1f;
    outline-color: $color-primary-border;


}

::ng-deep .mat-checkbox {
    display: flex;
    margin-left: 16px;
    height: 30px;
}

::ng-deep .mat-checkbox-inner-container {
    display: inline-block;
    height: 17px !important;
    line-height: 0;
    margin-right: 8px;
    order: 0;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
    width: 17px !important;
    flex-shrink: 0;
    margin-left: 158px !important;
}
::ng-deep .mat-checkbox:hover{
    background: #a8c2eb !important;
}

:ng-deep .mat-checkbox-layout:hover {
    background: #a8c2eb !important;
}

::ng-deep .mat-checkbox-background {
    background-color: white;
    border: 1px solid gray !important;
}

::ng-deep.mat-checkbox-checked {
    ::ng-deep .mat-checkbox-checkmark {
        border: 1px solid rgba(0, 0, 0, 0);
        background: white;

        ::ng-deep .mat-checkbox-checkmark-path {
            stroke: black !important;
        }
    }
}

::ng-deep .mat-checkbox-layout {
    user-select: none;
    cursor: inherit;
    flex-direction: row-reverse;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    display: flex;
    white-space: nowrap;
}

::ng-deep .mat-select-ejes:focus {
    border: 2px solid #1967D2;
}

.container-label-variables {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-left: 450px;

    .label-variables {
        padding: 4px;
        margin-top: 10px;
        height: 30px;
        margin-bottom: 10px;
        background: rgba(33, 33, 33, 0.08);
        border-radius: 16px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.25px;
        align-items: center;
        text-align: center;
        display: inline-flex;
        margin-right: 10px;
        color: rgba(0, 0, 0, 0.87);
    }

    ::ng-deep .material-icons {
        margin-left: 9px;
        font-size: 20px;
    }

}



.mat-pseudo-checkbox-checke {
    top: 2.4px;
    left: 1px;
    width: 8px;
    height: 3px;
    border-left: 2px solid currentColor;
    transform: rotate(-45deg);
    opacity: 1;
    box-sizing: content-box;
}