<div class="container-ejes" id="select-ejes">
    <mat-select class="mat-select-ejes" placeholder="Selecciona un Eje de Variables" [(value)]="axe"
        name="eje" (selectionChange)="capturarEje($event.value)">
        <mat-option [value]="item" *ngFor="let item of listOfAxes">{{item.nombre}}</mat-option>
    </mat-select>
    <mat-select [disabled]="!axe" class="mat-select-ejes" placeholder="Selecciona una o más."
        multiple="" [(value)]="variables" name="variables"
        (selectionChange)="capturarVariables($event.value)">
        <mat-option [value]="item" *ngFor="let item of listOfVariablesShow">{{item.nombre}}</mat-option>
    </mat-select>
</div>
<div class="container-label-variables">
    <div>
        <div>
            <label>Variables Seleccionadas </label>
        </div>
        <label class="label-variables" *ngFor="let item of variables">{{item.nombre}}<a
                style="cursor: pointer; margin-top: 5px;" (click)="removeVariable(item)">
                <mat-icon>cancel</mat-icon>
            </a>
        </label>
    </div>
</div>
