<app-auth-layout>
  <div class="conteiner-login">
    <img
      class="conteiner-login__logo"
      src="../../../../../assets/images/logo-MDP.svg"
      alt="Logo Mensajeros de la Paz"
    />
    <section class="login">
      <form [formGroup]="loginForm" action="" class="login__form">
        <h2 class="login__h1">INICIAR SESIÓN</h2>
        <label class="login__label" for="user">USUARIO</label>
        <input
          class="login__input"
          type="email"
          id="user"
          placeholder="forexample@mdp.com"
          formControlName="email"
        />
        <label class="login__label" for="password">CONTRASEÑA</label>
        <div class="login__input-container">
          <input
            class="login__input"
            type="password"
            id="password"
            placeholder="Más de 8 caracteres"
            formControlName="contrasena"
          />
          <svg
            (click)="changeType()"
            [ngClass]="flagSeePassword ? 'login__input-ico-eye--active' : ''"
            class="login__input-ico-eye"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M15.5799 11.9999C15.5799 13.9799 13.9799 15.5799 11.9999 15.5799C10.0199 15.5799 8.41992 13.9799 8.41992 11.9999C8.41992 10.0199 10.0199 8.41992 11.9999 8.41992C13.9799 8.41992 15.5799 10.0199 15.5799 11.9999Z"
              stroke="#202020"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M12.0001 20.27C15.5301 20.27 18.8201 18.19 21.1101 14.59C22.0101 13.18 22.0101 10.81 21.1101 9.39997C18.8201 5.79997 15.5301 3.71997 12.0001 3.71997C8.47009 3.71997 5.18009 5.79997 2.89009 9.39997C1.99009 10.81 1.99009 13.18 2.89009 14.59C5.18009 18.19 8.47009 20.27 12.0001 20.27Z"
              stroke="#202020"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
        <mat-error [ngClass]="flag ? '' : 'errorHidde'"
          >Email y/o contraseña incorrecto</mat-error
        >
        <mat-error [ngClass]="flag2 ? '' : 'errorHidde'"
          >Error en el servidor</mat-error
        >
        <mat-checkbox class="login__recordar-usuario" color="primary">
          Recordar usuario y contraseña</mat-checkbox
        >
        <a
          routerLink="/auth/forgot-password"
          class="login__recuperar-contrasena"
          >Olvidé mi contraseña</a
        >
        <button
          mat-raised-button
          class="login__btn-ingresar"
          color="primary"
          type="submit"
          (click)="onLogin()"
        >
          Ingresar
        </button>
      </form>
    </section>
  </div>
</app-auth-layout>
