// @import 'styles/variables.scss';
.conteiner-login {
  display: flex;
  justify-content: space-evenly;
  min-height: calc(100vh - 60px);
}
.conteiner-login__logo {
  width: 756px;
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
}
.login__h1 {
  font-size: 36px;
  line-height: 43px;
  margin-bottom: 54px;
  margin-top: 20px;
}
.login__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login__label {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}
.login__input {
  width: 290px;
  height: 60px;
  font-weight: 400;
  font-size: 20px;
  background: #d9d9d9;
  border-radius: 60px;
  border: none;
  padding: 0 30px;
  margin: 25px 0 48px 0;
}

.login__recordar-usuario {
  margin-top: 6px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}
.login__recuperar-contrasena {
  margin-top: 18px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.494118);
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}
.login__btn-ingresar {
  width: 145px;
  height: 60px;
  border-radius: 60px;
  color: #d9d9d9;
  margin: 36px 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}
