@import "../../../../../styles/variables.scss";
.upload-report {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3000;
  background-color: white;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 176px 119px calc(100vh - 176px - 127px) 127px;
  grid-template-areas: "";
  .upload-report__progress {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 36px;
    .upload-report__title {
      width: 428px;
      height: 80px;
      background: rgba(25, 103, 210, 0.1);
      border-radius: 0px 50px 10px 0px;
      font-size: 36px;
      line-height: 43px;
      font-weight: 600;
      display: flex;
      align-items: center;
      text-align: center;
      color: #083d5e;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      margin-right: 59px;
      padding-left: 30px;
    }
    .progress-bar {
      width: auto;
    }
    .upload-report__btn-close-save {
      height: 44px;
      background: #92cdef;
      border-radius: 35px;
      font-size: 20px;
      line-height: 24px;
      margin: 0 59px;
    }
  }
  .upload-report__conteiner {
    width: 90vw;
    margin-top: 32px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    overflow-y: scroll;
  }
}
.header-container {
  width: 100%;
  font-size: 16px;
  .header {
    width: 100%;
    height: 8.75em;
    display: flex;
    align-items: center;
    background-color: white;
    border-bottom: 0.1875em solid $color-bg-light-grey;
    .header__logo {
      width: 16.25em;
      padding: 0.5625em 0;
    }
  }
  .lines-container {
    width: 100%;
    background-color: white;
    padding-top: 0.5625em;
    .lines-container__line1 {
      width: 100%;
      height: 0.5625em;
      background: $color-line-up-header;
      box-shadow: 0em 0.375em 0.5em rgba(0, 0, 0, 0.14),
        0em 0.0625em 0.75em rgba(0, 0, 0, 0.12),
        0em 0.1875em 0.1875em rgba(0, 0, 0, 0.2);
    }
    .lines-container__line2 {
      margin-top: 0.5625em;
      width: 100%;
      height: 0.5625em;
      background: $color-line-down-header;
      box-shadow: 0em 0.25em 0.25em rgba(0, 0, 0, 0.25);
    }
  }
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 94px;
  border-top: solid 5px #344d64;
  .footer__logo {
    width: 255px;
    height: 80px;
  }
  .footer__btn-confirm-axe {
    height: 44px;
    background: #92cdef;
    border-radius: 35px;
    font-size: 20px;
    line-height: 24px;
  }
}
@media (max-width: 1400px) {
  .upload-report {
    height: calc(100vh - 132px);
  }
  .header-container {
    font-size: 12px; //hacemos responsive todo el componente para este viewport
  }
}
@media (max-width: 768px) {
  .upload-report {
    height: calc(100vh - 110px);
  }
  .header-container {
    font-size: 10px;
    .header {
      .header__logo {
        margin-left: 2.25rem;
      }
    }
  }
}
