<!-- VISTA DE EJES A COMPLETAR, UNO POR VEZ -->
<section class="report" *ngIf="!flagLastAxe" #scroll>
  <h1 class="report__title">
    EJE {{ indexOfAxe }}: {{ axeToUpload.toUpperCase() }}
  </h1>
  <div
    class="report__variable"
    *ngFor="let variable of variablesReport; let i = index"
  >
    <app-variable-upload
      [indexAlphabet]="biAlphabet[i]"
      [variableValue]="variable"
      (variableToUpload)="getVariablesToUpload($event)"
      (variableSaveExit)="getVariablesToSaveExit($event)"
      (variableGoBack)="getVariablesToSaveGoBack($event)"
    ></app-variable-upload>
  </div>
  <app-pop-up-success
    [flagAxeSuccess]="flagAxeSuccess"
    [textSuccess]="'¡Eje guardado con éxito! Continuarás con el siguiente Eje'"
  ></app-pop-up-success>
</section>
<!-- VISTA CUANDO TODOS LOS EJES FUERON COMPLETADOS -->
<section class="report" *ngIf="flagLastAxe">
  <div class="report-complete">
    <div
      class="report-complete__conteiner"
      *ngFor="let item of report; let i = index"
    >
      <h1 class="report-complete__title">
        EJE {{ i + 1 }}: {{ item.axe.toUpperCase() }}
      </h1>
      <div class="report-complete__completed">
        <p class="report-complete__text">Completo</p>
        <img
          class="report-complete__ico-check"
          src="../../../../../assets/icons/checked white.svg"
          alt="Icono check"
        />
      </div>
    </div>
  </div>
  <div class="comment">
    <label class="comment__label" for="comment"
      >Observaciones, comentarios sobre el reporte {{ nameReport }}</label
    >
    <textarea
      class="comment__textarea"
      name="comment"
      id="comment"
      placeholder="Ingrese texto"
    ></textarea>
  </div>
  <app-pop-up-success
    [flagAxeSuccess]="flagAxeSuccess"
    [textSuccess]="
      '¡Eje guardado con éxito! Todos los Ejes han sido completados'
    "
  >
  </app-pop-up-success>
</section>
