.report {
  width: 100%;
  .report__title {
    display: flex;
    align-items: center;
    font-size: 25px;
    width: 821px;
    height: 52px;
    color: white;
    background: #446787;
    border-radius: 5px 50px 10px 0px;
    margin-bottom: 0;
    padding-left: 20px;
  }
}
