.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    flex-direction: column;
    text-align: center;
    width: 100%;

    h1 {
        font-family: 'Futura Bk BT';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 38px;
        text-align: center;
        margin-top: 43px;
    }

    .container-ejes-variables {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0px 12px;
        width: 794px;
        height: fit-content;
        margin-top: 12px;

        .ejes-preview {
            width: 434px;
            height: 36px;
            left: 12px;
            top: 0px;
            color: white;
            background: #083d5e;
            border-radius: 30px 30px 0px 0px;
            // text-align: center;
            padding: 8px 0px 0px 35px;
            margin-left: 54px;
        }

        .variables-preview {
            width: 785px;
            height: 495px;
            margin-left: 36px;
            position: absolute;
            margin-bottom: 13px;
            border: 1px solid #1967D2;
            border-radius: 20px 20px 10px 10px;

        }

        .icon {
            position: absolute;
            margin-top: 485px;
            margin-left: 39px;
        }

    }

    .button-group {
        display: flex;
        position: absolute;
        flex-direction: column;
        align-items: flex-start;
        margin-right: 1000px;
        margin-top: 600px;

        button {
            margin-top: 13px;
            width: 153px;
            height: 32px;
            background: #083D5E;
            border-radius: 10px;
            color: #fff;
            display: flex;
            font-family: Futura Bk BT;
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            /* line-height: 20px; */
            letter-spacing: .25px;
            text-align: center;
        }

        button:hover {
            background: #1967D2;
        }

        button:visited {
            background: #1967D2;
        }
    }
}

@media (max-width: 1170px) {
    .container{
        width: 80%;
        float: right;
    }
}
@media (max-width: 1000px) {
    .container{
        width: 65%;
        float: right;
    }
}