<div class="container">
    <div>
        <h1>Evolución de Variable</h1>
    </div>
    <div class="container-ejes-variables">
        <label class="ejes-preview">{{name}}</label>
        <div class="variables-preview"></div>
        <apx-chart [series]="series" [chart]="chart" [title]="title" [xaxis]="xaxis" [markers]="markers"
            [colors]="colors" [stroke]="stroke" [grid]="grid"></apx-chart>
    </div>
    <div class="button-group">
        <button mat-button (click)="monthly()"
            [ngStyle]="flagMon?{'background-color': '#1967D2'} : {'background-color': '#083D5E'}">Evolución
            mensual</button>
        <button mat-button (click)="semi()"
            [ngStyle]="flagSemi?{'background-color': '#1967D2'} : {'background-color': '#083D5E'}">Evolución
            semestral</button>
        <button mat-button (click)="annual()"
            [ngStyle]="flagAnnual?{'background-color': '#1967D2'} : {'background-color': '#083D5E'}">Evolución
            anual</button>
    </div>


</div>