<section class="container-add-variable" (click)="close()">
  <h1 class="container-add-variable__title">Agregar Variable</h1>
  <div class="add-variable">
    <form
      class="add-variable__form"
      action=""
      method="post"
      [formGroup]="newVariable"
      (ngSubmit)="onConfirm()"
    >
      <!-- variable---------------- -->
      <label
        class="add-variable__label"
        for="POST-variable"
        type="text"
        autocomplete="off"
        >Nombre de Variable</label
      >
      <div class="add-variable__container-input">
        <input
          [ngClass]="invalidForm ? 'add-variable__input--alert' : ''"
          class="add-variable__input"
          formControlName="variable"
          id="POST-variable"
          type="text"
          name="variable"
          autocomplete="off"
          [(ngModel)]="variableInput"
          (ngModelChange)="onChangeInput($event)"
        />
      </div>
      <!-- descripcion de variable---------------- -->
      <label
        class="add-variable__label"
        for="description"
        type="text"
        autocomplete="off"
        >Descripción de Variable</label
      >
      <div class="add-variable__container-input">
        <input
          [ngClass]="invalidForm ? 'add-variable__input--alert' : ''"
          class="add-variable__input"
          formControlName="descriptionForm"
          id="description"
          type="text"
          name="description"
          autocomplete="off"
          [(ngModel)]="descriptionInput"
          (ngModelChange)="onChangeInput($event)"
        />
      </div>
      <!-- Selector de eje------------  -->
      <label class="add-variable__label" for="select-axe" autocomplete="off"
        >Eje</label
      >
      <div class="add-variable__container-input">
        <mat-select
          class="select"
          [(value)]="ejeAsignado"
          name="select-axe"
          (selectionChange)="capturarEje($event.value)"
          id="select-axe"
          formControlName="selectAxeForm"
        >
          <mat-option
            class="select__option"
            [value]="item.nombre"
            *ngFor="let item of axesList"
            >{{ item.nombre }}</mat-option
          >
        </mat-select>
      </div>
      <!-- Tipo de respuesta solicitada------------  -->
      <label
        class="add-variable__label"
        for="select-type-of-answer"
        type="text"
        autocomplete="off"
      >
        Tipo de respuesta solicitada
      </label>
      <div class="add-variable__container-input">
        <mat-radio-group
          id="select-type-of-answer"
          class="radio-groupAM"
          [(ngModel)]="typeAnswer"
          formControlName="typeAnswerForm"
          [ngModel]="typeAnswer"
          (change)="onSelectionChange()"
        >
          <mat-radio-button class="radio-buttonAM" value="Numérico">
            Numérico
          </mat-radio-button>
          <mat-radio-button class="radio-buttonAM" value="Textual">
            Textual
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <!-- Agregar a Variable:------------  -->
      <label
        class="add-variable__label"
        for="add-to-variable"
        type="text"
        autocomplete="off"
      >
        Agregar a Variable:
      </label>
      <!------------- Distinción de genero -->
      <div class="add-variable__container-input">
        <mat-checkbox
          class="checkbox-add-to"
          color="accent"
          [(ngModel)]="addGenre"
          formControlName="genreForm"
          [disabled]="!flagGenre"
          >Distinción de género</mat-checkbox
        >
        <p class="add-variable__info-text">
          Al seleccionar se añadirán campos extra para Mujeres, Varones y No
          binarixs.
        </p>
      </div>
      <!-- -----------Escala de Valor  -->
      <div class="add-variable__container-input">
        <mat-checkbox
          class="checkbox-add-to"
          color="accent"
          [(ngModel)]="addValueEscale"
          formControlName="valueScaleForm"
          [disabled]="flagGenre"
          (change)="onSelectValueScale()"
          >Escala de Valor</mat-checkbox
        >
        <p class="add-variable__info-text">
          Al seleccionara creará una escala de Valor que ira desde un mínimo a
          un máximo establecido.
        </p>
      </div>
      <!-- ----------------------------- -->
      <div class="value-scale">
        <div
          class="value-scale__conteiner-scale"
          [ngClass]="!flagValueScale ? 'color-disable' : ''"
        >
          De
          <div class="value-scale__value">
            <mat-select
              class="selectRange"
              [(value)]="firstValue"
              name="select-first-value"
              (selectionChange)="captureFirstValue($event.value)"
              formControlName="firstNumberForm"
              id="select-first-value"
              [disabled]="!flagValueScale"
            >
              <mat-option
                class="selectRange__option"
                [value]="item"
                *ngFor="let item of initialValuesList"
                >{{ item }}</mat-option
              >
            </mat-select>
          </div>
          a
          <div class="value-scale__value">
            <mat-select
              class="selectRange"
              [(value)]="lastValue"
              name="select-last-value"
              (selectionChange)="captureLastValue($event.value)"
              id="select-last-value"
              formControlName="lastNumberForm"
              [disabled]="!flagValueScale"
            >
              <mat-option
                class="selectRange__option"
                [value]="item"
                *ngFor="let item of finalsValuesList"
                >{{ item }}</mat-option
              >
            </mat-select>
          </div>
        </div>
        <!-- Etiquetas de escala de valor--------------------------- -->
        <div class="value-scale__conteiner-tags">
          <div class="value-scale__tag">
            <label
              class="value-scale__label"
              [ngClass]="!flagValueScale ? 'color-disable' : ''"
              for=""
              >{{ firstValue }}</label
            >
            <mat-form-field class="value-scale__input" appearance="fill">
              <input
                color="accent"
                autocomplete="off"
                type="text"
                matInput
                formControlName="firstValueForm"
                placeholder="Etiqueta"
                required
              />
              <mat-error
                *ngIf="newVariable.get('firstValueForm')?.hasError('required')"
              >
                Debe completar este campo
              </mat-error>
            </mat-form-field>
          </div>
          <div class="value-scale__tag">
            <label
              class="value-scale__label"
              [ngClass]="!flagValueScale ? 'color-disable' : ''"
              for=""
              >{{ lastValue }}</label
            >
            <mat-form-field class="value-scale__input" appearance="fill">
              <input
                color="accent"
                autocomplete="off"
                type="text"
                matInput
                formControlName="lastValueForm"
                placeholder="Etiqueta"
                required
              />
              <mat-error
                *ngIf="newVariable.get('lastValueForm')?.hasError('required')"
              >
                Debe completar este campo
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <!-- boton de confirmar envio de formulario----------- -->
      <button
        mat-raised-button
        class="add-variable__btn"
        type="submit"
        color="primary"
      >
        Confirmar
      </button>
    </form>
  </div>
  <div *ngIf="flagError" class="modal-error">
    <div class="modal__container-error">
      <img
        class="modal__ico-info"
        src="../../../../../assets/icons/Info-circle.svg"
        alt="Icono de información"
      />
      <p class="modal__text">
        ¡Todos los campos obligatorios deben ser llenados!
      </p>
    </div>
  </div>
  <div *ngIf="flagExist" class="modal-error">
    <div class="modal__container-error">
      <img
        class="modal__ico-info"
        src="../../../../../assets/icons/Info-circle.svg"
        alt="Icono de información"
      />
      <p class="modal__text">El eje ya existe en el sistema</p>
    </div>
  </div>
</section>
