<section class="container-add-variable" (click)="close()">
  <h1 class="container-add-variable__title">Agregar Variable</h1>
  <div class="add-variable">
    <form
      class="add-variable__form"
      action=""
      method="post"
      [formGroup]="newVariable"
      (ngSubmit)="onConfirm()"
    >
      <!-- variable---------------- -->
      <label
        class="add-variable__label"
        for="POST-variable"
        type="text"
        autocomplete="off"
        >Nombre de Variable</label
      >
      <div class="add-variable__container-input">
        <input
          [ngClass]="invalidForm ? 'add-variable__input--alert' : ''"
          class="add-variable__input"
          formControlName="variable"
          id="POST-variable"
          type="text"
          name="variable"
          autocomplete="off"
          [(ngModel)]="variableInput"
          (ngModelChange)="onChangeInput($event)"
        />
      </div>
      <!-- descripcion de variable---------------- -->
      <label
        class="add-variable__label"
        for="description"
        type="text"
        autocomplete="off"
        >Descripción de Variable</label
      >
      <div class="add-variable__container-input">
        <input
          [ngClass]="invalidForm ? 'add-variable__input--alert' : ''"
          class="add-variable__input"
          formControlName="variable"
          id="description"
          type="text"
          name="description"
          autocomplete="off"
          [(ngModel)]="descriptionInput"
          (ngModelChange)="onChangeInput($event)"
        />
      </div>
      <!-- Selector de eje------------  -->
      <label
        class="add-variable__label"
        for="select-axe"
        type="text"
        autocomplete="off"
        >Eje</label
      >
      <div class="add-variable__container-input">
        <mat-select
          class="select"
          [(value)]="centroAsignado"
          name="select-axe"
          (selectionChange)="capturarCentro($event.value)"
          id="select-axe"
        >
          <mat-option
            class="select__option"
            [value]="item.id"
            *ngFor="let item of axesList"
            >{{ item.nombre }}</mat-option
          >
        </mat-select>
      </div>
      <!-- Tipo de respuesta solicitada------------  -->
      <label
        class="add-variable__label"
        for="select-type-of-answer"
        type="text"
        autocomplete="off"
      >
        Tipo de respuesta solicitada
      </label>
      <div class="add-variable__container-input">
        <mat-radio-group
          id="select-type-of-answer"
          class="radio-groupAM"
          [(ngModel)]="typeAnswer"
        >
          <mat-radio-button class="radio-buttonAM" [value]="typeOfAnswerNumber">
            Numérico
          </mat-radio-button>
          <mat-radio-button class="radio-buttonAM" [value]="typeOfAnswerText">
            Textual
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <!-- Agregar a Variable:------------  -->
      <label
        class="add-variable__label"
        for="add-to-variable"
        type="text"
        autocomplete="off"
      >
        Agregar a Variable:
      </label>
      <!-- Distinción de genero -->
      <div class="add-variable__container-input">
        <mat-checkbox
          class="checkbox-add-to"
          color="accent"
          [(ngModel)]="addToVariable"
          >Distinción de género</mat-checkbox
        >
        <p class="add-variable__info-text">
          Al seleccionar se añadirán campos extra para Mujeres, Varones y No
          binarixs.
        </p>
      </div>
      <!-- Escala de Valor  -->
      <div class="add-variable__container-input">
        <mat-checkbox
          class="checkbox-add-to"
          color="accent"
          [(ngModel)]="addToVariable"
          >Escala de Valor</mat-checkbox
        >
        <p class="add-variable__info-text">
          Al seleccionara creará una escala de Valor que ira desde un mínimo a
          un máximo establecido.
        </p>
      </div>

      <!-- boton de confirmar envio de formulario----------- -->
      <button
        mat-raised-button
        class="add-variable__btn"
        type="submit"
        color="primary"
      >
        Confirmar
      </button>
    </form>
  </div>
  <div *ngIf="flagError" class="modal-error">
    <div class="modal__container-error">
      <img
        class="modal__ico-info"
        src="../../../../../assets/icons/Info-circle.svg"
        alt="Icono de información"
      />
      <p class="modal__text">
        ¡Todos los campos obligatorios deben ser llenados!
      </p>
    </div>
  </div>
  <div *ngIf="flagExist" class="modal-error">
    <div class="modal__container-error">
      <img
        class="modal__ico-info"
        src="../../../../../assets/icons/Info-circle.svg"
        alt="Icono de información"
      />
      <p class="modal__text">El eje ya existe en el sistema</p>
    </div>
  </div>
</section>
