@import "../../../../../styles/variables.scss";

.pending-reports {
  display: flex;
  justify-content: center;
  width: 100%;
  .pending-reports__conteiner {
    min-width: 900px;
    .pending-reports__title {
      width: 11.888em;
      height: 2.222em;
      font-weight: 600;
      display: flex;
      align-items: center;
      background: rgba(25, 103, 210, 0.1);
      font-size: 36px;
      text-align: center;
      color: #083d5e;
      border-radius: 0.138em 1.38em 0.277em 0px;
      text-shadow: 0px 0.111em 0.111em rgba(0, 0, 0, 0.25);
      margin-top: 2.75em;
      // margin-left: 240px;
      padding-left: 0.55em;
    }
  }
}
.list {
  max-width: 997px;
  max-height: 286px;
  margin-top: 90px;
  margin-left: 60px;
  overflow: scroll;
  &::-webkit-scrollbar {
    width: 10px; /* width of the entire scrollbar */
  }
  &::-webkit-scrollbar-track {
    background: rgb(255, 255, 255); /* color of the tracking area */
  }
  &::-webkit-scrollbar-thumb {
    background-color: #d9d9d9; /* color of the scroll thumb */
    border-radius: 50px; /* roundness of the scroll thumb */
    border: 1px solid #ffffff; /* creates padding around scroll thumb */
  }
  .list__row-header {
    min-height: 48px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    .list__header {
      list-style: none;
      font-family: "Inter";
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .list__header:first-of-type {
      padding-left: 7px;
      justify-self: flex-start;
    }
  }
  .list__row-item {
    min-height: 53px;
    box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.25);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    transition: all 0.1s linear;
    cursor: pointer;
    &:hover {
      background-color: $color-bg-hover-primary;
      .list__item {
        color: #ffffff;
      }
    }
    .list__item {
      list-style: none;
      font-family: "Inter";
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.1s linear;
    }
    .list__item:first-of-type {
      justify-self: flex-start;
      padding-left: 32px;
    }
  }
  .list__row-item--active {
    .list__item {
      color: #50b3ed;
    }
  }
}
.report {
  width: 100%;
  max-width: 963px;
  min-height: 352px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 67px 100px;
  margin-top: 25px;
  margin-left: 60px;
  margin-bottom: 50px;
  .report__conteiner {
    margin-bottom: 90px;
    display: flex;
    align-items: center;
    .report__info {
      min-width: 511px;
      min-height: 48px;
      box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.25);
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      height: 48px;
      .report__item {
        list-style: none;
        margin: 0 32px;
        font-family: "Inter";
      }
    }
    .report__btn-start {
      width: 189px;
      height: 68px;
      margin-left: 63px;
      background: rgba(25, 103, 210, 0.65);
      border-radius: 35px;
      font-size: 22px;
      color: #000000;
    }
    .mat-button-disabled {
      background-color: #d8d8d8;
      color: #79747e;
    }
  }
  .report__conteiner-btns {
    display: flex;
    justify-content: center;
    .report__btn-continue {
      width: 341px;
      height: 68px;
      background: #92cdef;
      border-radius: 35px;
      font-size: 22px;
      color: #000000;
      margin-right: 53px;
    }
    .report__btn-restart {
      width: 236px;
      height: 68px;
      background: #92cdef;
      border-radius: 35px;
      font-size: 22px;
      color: #000000;
    }
    .mat-button-disabled {
      background-color: #d8d8d8;
      color: #79747e;
    }
  }
}
@media (max-width: 1555px) {
  .pending-reports {
    justify-content: flex-start;
    .pending-reports__conteiner {
      padding-left: 123px;
      .pending-reports__title {
        margin-left: 130px;
      }
    }
  }
  .list {
    margin-left: 190px;
  }
  .report {
    margin-left: 190px;
  }
}
@media (max-width: 1400px) {
  .pending-reports {
    .pending-reports__conteiner {
      .pending-reports__title {
        margin-top: 65px;
        margin-left: 130px;
      }
    }
  }
  .list {
    margin-top: 50px;
    margin-left: 190px;
  }
  .report {
    margin-left: 190px;
  }
}
@media (max-width: 1280px) {
  .pending-reports {
    .pending-reports__conteiner {
      .pending-reports__title {
        font-size: 30px;
        margin-top: 20px;
        margin-left: 90px;
      }
    }
  }
  .list {
    margin-top: 30px;
    margin-left: 90px;
  }
  .report {
    margin-left: 90px;
  }
}
@media (max-width: 1024px) {
  .pending-reports {
    .pending-reports__conteiner {
      .pending-reports__title {
        margin-top: 30px;
        margin-left: 70px;
      }
    }
  }
  .list {
    margin-top: 40px;
    margin-left: 130px;
  }
  .report {
    margin-left: 130px;
  }
}
