@import "../../../../../styles/variables.scss";
.home {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  .home__title {
    font-size: 64px;
    line-height: 77px;
    text-align: center;
    width: 525px;
    margin-top: 150px;
    margin-bottom: 0;
  }
  .home__img {
    width: 482px;
    margin-top: 94px;
  }
}
