@import "../../../../../styles/variables.scss";

.container-add-axe {
  font-size: 16px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  .container-add-axe__title {
    font-style: italic;
    font-size: 36px;
    line-height: 43px;
    color: $color-text-primary;
    margin-top: 96px;
    margin-bottom: 35px;
    align-self: center;
  }
  .add-axe {
    width: 760px;
    display: flex;
    flex-direction: column;
    margin: 0 250px;
    .add-axe__form {
      position: relative;
      max-height: 660px;
      height: 59vh;
      display: flex;
      flex-direction: column;
      .add-axe__label {
        font-size: 16px;
        line-height: 19px;
        color: $color-text-primary;
      }
      .add-axe__container-input {
        position: relative;
        .add-axe__input {
          width: 549px;
          height: 56px;
          font-size: 16px;
          line-height: 24px;
          border: 1px solid $btn-confirm-bg;
          border-radius: 4px;
          outline-color: $outline-focus;
          margin-top: 10px;
          margin-bottom: 28px;
          padding-left: 20px;
        }
        .add-axe__input--alert {
          border: 1px solid $alert-text;
          outline-color: $alert-text;
          outline-width: 0px;
        }
        .add-axe__alert {
          position: absolute;
          bottom: -10px;
          color: $alert-text;
        }
      }
      .add-axe__container-select {
        position: relative;
        .select-centers {
          width: 299px;
          height: 56px;
          background: $btn-confirm-bg;
          border: 1px solid $color-line-grey-dark;
          border-radius: 4px;
          margin-top: 10px;
          padding-left: 20px;
          ::ng-deep .mat-select-trigger {
            width: 100% !important;
            height: 100% !important;
          }
        }
        .add-axe__alert {
          position: absolute;
          bottom: -38px;
          color: $alert-text;
        }
      }

      .add-axe__btn {
        font-size: 20px;
        align-self: flex-end;
        margin-top: 30vh;
        width: 8.05em;
        height: 3.3em;
        background: $btn-confirm-bg;
        border-radius: 1.75em;
        cursor: pointer;
        color: $color-text-primary;
      }
    }
  }
}
.modal-error {
  position: fixed;
  bottom: 20vh;
  z-index: 200;
  width: 525px;
  height: 203px;
  background-color: #cce8f4;
  border: 1px solid #cce8f4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  .modal__container-error {
    width: 474px;
    display: flex;
    align-items: center;
    .modal__ico-info {
      width: 88px;
      height: 90px;
    }
    .modal__text {
      font-size: 24px;
      text-align: center;
      letter-spacing: 0.25px;
      color: #083d5e;
      margin-bottom: 0;
      margin-left: 15px;
    }
  }
}
::ng-deep .cdk-overlay-container .cdk-overlay-pane {
  margin: 54px 0; //para que el panel de selección aparezca abajo o arriba del input y no sobre él
}

@media (max-width: 1400px) {
  .container-add-axe {
    .container-add-axe__title {
      margin-top: 40px;
      margin-bottom: 30px;
      font-size: 30px;
    }
    .add-axe {
      margin-left: 280px;
      margin-right: 20px;
      align-self: flex-start;
      .add-axe__form {
        .add-axe__btn {
          font-size: 16px;
          margin-top: 46px;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .container-add-axe {
    .container-add-axe__title {
      margin-top: 25px;
      margin-bottom: 20px;
      font-size: 26px;
    }
    .add-axe {
      margin-left: 220px;
      width: 500px;
      .add-axe__form {
        .add-axe__input {
          width: auto;
        }
        .add-axe__btn {
          font-size: 16px;
          margin-top: 46px;
        }
      }
    }
  }
}
