<section class="container-add-axe" (click)="close()">
  <h1 class="container-add-axe__title">Agregar Eje</h1>
  <div class="add-axe">
    <form
      class="add-axe__form"
      action=""
      method="post"
      [formGroup]="newAxe"
      (ngSubmit)="onConfirm()"
    >
      <label
        class="add-axe__label"
        for="POST-axe"
        type="text"
        autocomplete="off"
        >Nombre de Eje *</label
      >
      <div class="add-axe__container-input">
        <input
          [ngClass]="invalidForm ? 'add-axe__input--alert' : ''"
          class="add-axe__input"
          formControlName="axe"
          id="POST-axe"
          type="text"
          name="axe"
          autocomplete="off"
          [(ngModel)]="axeInput"
          (ngModelChange)="onChangeInput($event)"
        />
      </div>
      <button
        mat-raised-button
        class="add-axe__btn"
        type="submit"
        color="primary"
      >
        Confirmar
      </button>
    </form>
  </div>
  <div *ngIf="flagError" class="modal-error">
    <div class="modal__container-error">
      <img
        class="modal__ico-info"
        src="../../../../../assets/icons/Info-circle.svg"
        alt="Icono de información"
      />
      <p class="modal__text">
        ¡Todos los campos obligatorios deben ser llenados!
      </p>
    </div>
  </div>
</section>
