<section class="container-variables">
  <div class="variables">
    <h1 class="variables__title">Variables</h1>
    <div class="variables__container-search">
      <a class="btn-add-variables" routerLink="add-mod-variables">
        <img
          class="btn-add-variables__ico"
          src="../../../../../assets/icons/Grid.svg"
          alt="Icono de lista ordenada"
        />
        <span class="btn-add-variables__text"> AGREGAR VARIABLE </span>
      </a>
      <label for="searchvariables" class="lbl-search-variables">
        <input
          class="lbl-search-variables__input"
          id="searchvariables"
          type="text"
          [(ngModel)]="itemSearch"
          (ngModelChange)="Search(itemSearch)"
          autocomplete="off"
          spellcheck="false"
        />
        <img
          class="lbl-search-variables__ico"
          src="../../../../../assets/icons/Search.svg"
          alt="Icono de lupa para busqueda"
        />
      </label>
    </div>
    <h2 class="variables__subtitle">Eje {{ nameAxeGroup }}</h2>
    <section class="list-variables">
      <div class="list-variables__table">
        <!-- Position Column -->
        <div class="list-variables__row">
          <p class="list-variables__header list-variables__header--variable">
            Variable
          </p>

          <p class="list-variables__header list-variables__header--type">
            Tipo de Respuesta
          </p>
          <p class="list-variables__header list-variables__header--action">
            Acciones
          </p>
        </div>

        <div
          class="list-variables__row"
          *ngFor="let element of listOfVariables_toShow | async"
        >
          <p class="list-variables__cell list-variables__cell--variable">
            {{ element.nombre }}
          </p>
          <p class="list-variables__cell--type">
            {{ element.tipo }}
            <ng-container *ngIf="element.genero == 'true'">
              - Distinción de género
            </ng-container>
            <ng-container *ngIf="element.escala_valor == 'true'">
              - Escala de Valor
            </ng-container>
          </p>
          <div class="list-variable__cell list-variables__cell--acction">
            <a [routerLink]="['add-mod-variables/', element.id.toString()]">
              <img
                class="
                  list-variables__ico-action list-variables__ico-action--edit
                "
                src="../../../../../assets/icons/Pencil.svg"
                alt="Icono de editar"
                matTooltip="Editar"
              />
            </a>
            <img
              class="list-variables__ico-action"
              src="../../../../../assets/icons/Trash.svg"
              alt="icono de Eliminar"
              matTooltip="Borrar"
              (click)="onClickDelete(element.id)"
            />
            <a class="list-variables__ico-action" matTooltip="Evolución de Variable" *ngIf="element.tipo  == 'Numerico'" (click)="selectCenter(element)">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_71_692)">
                <path d="M0 0H1.5V24H0V0ZM1.5 22.5H24V24H1.5V22.5Z" fill="black"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M21.5848 6.46802L15.0613 14.625L10.4998 10.0605L5.03075 15.531L3.96875 14.469L10.4998 7.93952L14.9382 12.375L20.4132 5.53052L21.5848 6.46652V6.46802Z" fill="black"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M15 5.25C15 5.05109 15.079 4.86032 15.2197 4.71967C15.3603 4.57902 15.5511 4.5 15.75 4.5H21.75C21.9489 4.5 22.1397 4.57902 22.2803 4.71967C22.421 4.86032 22.5 5.05109 22.5 5.25V11.25C22.5 11.4489 22.421 11.6397 22.2803 11.7803C22.1397 11.921 21.9489 12 21.75 12C21.5511 12 21.3603 11.921 21.2197 11.7803C21.079 11.6397 21 11.4489 21 11.25V6H15.75C15.5511 6 15.3603 5.92098 15.2197 5.78033C15.079 5.63968 15 5.44891 15 5.25Z" fill="black"/>
                </g>
                <defs>
                <clipPath id="clip0_71_692">
                <rect width="24" height="24" fill="white"/>
                </clipPath>
                </defs>
                </svg>
            </a>
          </div>
        </div>
      </div>
      <div class="pagination">
        <p class="pagination-text">
          {{ initialItem }} - {{ finalItem }} de {{ listLenght }}
        </p>
        <svg
          (click)="onClickBefore()"
          class="pagination-arrow"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M14 7L9 12L14 17V7Z"
            fill="black"
            fill-opacity="0.87"
          />
        </svg>
        <svg
          (click)="onClickAfter()"
          class="pagination-arrow"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M10 7L15 12L10 17V7Z"
            fill="black"
            fill-opacity="0.87"
          />
        </svg>
      </div>
    </section>
  </div>

  <div *ngIf="flagNew" class="modal">
    <img
      class="modal__btnClose"
      (click)="close()"
      src="../../../../../assets/icons/X.svg"
      alt="icono de cerrar"
    />
    <div class="modal__container">
      <img
        class="modal__ico"
        src="../../../../../assets/icons/Check.svg"
        alt="icon check"
      />
      <p class="modal__text">
        ¡La Variable {{ newOrEditedVariable.nombre }} fue creada con éxito!
      </p>
    </div>
  </div>

  <div *ngIf="flagEdited" class="modal">
    <img
      class="modal__btnClose"
      (click)="close()"
      src="../../../../../assets/icons/X.svg"
      alt="icono de cerrar"
    />
    <div class="modal__container">
      <img
        class="modal__ico"
        src="../../../../../assets/icons/Check.svg"
        alt="icon check"
      />
      <p class="modal__text">
        ¡La Variable {{ newOrEditedVariable.nombre }} fue editada con éxito!
      </p>
    </div>
  </div>

  <div *ngIf="flagDelete" class="modal-delete">
    <div class="modal__container-delete">
      <img
        class="modal__ico-info"
        src="../../../../../assets/icons/Exclamation-triangle.svg"
        alt="Icono de información"
      />
      <p class="modal__text">
        ¡Estas a punto de eliminar este dato!<br />Esta acción no podrá ser
        revertida
      </p>
    </div>
    <div class="modal__options">
      <button class="btn-modal__cancel" (click)="close()">Cancelar</button>
      <button class="btn-modal__accept" (click)="deleteVariable(idToDelete)">
        Confirmar y eliminar
      </button>
    </div>
  </div>

  <div class="modal-selectCenter" *ngIf="flagSelectCenter">
    <div class="close">
      <svg width="24px" height="24px" viewBox="0 0 16 16" style="cursor: pointer;" (click)="close()" xmlns="http://www.w3.org/2000/svg"
      fill="currentColor" class="bi bi-x-square icon">
      <path
          d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
      <path
          d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
      </svg>
    </div>
    <p class="text-modal">Seleccione un centro</p>
    <div class="container-select">
      <mat-select placeholder="Centro" [(value)]="center">
        <mat-option [value]="item" *ngFor="let item of centers">{{item}}</mat-option>
      </mat-select>
    </div>
    <div class="container-button">
      <button class="modal-button" mat-button>Aceptar</button>
    </div>
  </div>
   <div *ngIf="flagSelectCenter" class="overlay"></div>
</section>
