<div class="container">
    <div class="container-logo">
        <img src="/assets/images/logo-MDP.svg" width="672px" height="296px" alt="Logo Mensajeros de la Paz">
    </div>
    <div class="container-inputs">
        <div>
            <h2>Nueva contraseña</h2>
            <input type="password">
        </div>
        <div class="continer-repite">
            <h2>Repite la contraseña</h2>
            <input type="password">
        </div>
        <button (click)="confirm()">Confirmar</button>
    </div>



</div>