@import "../../../../../styles/variables.scss";

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 108px;
    //margin-top: 50px;
}

.container-logo{
    margin-top: 60px;
}

.container-inputs{
    margin-top: 139px;
    margin-left: 113px;
}

.continer-repite{
    margin-top: 90px;
}

h2{
    margin-left: 70px;
    border-radius: nullpx;
}

input{
    font-weight: 400;
    font-size: 1.25rem;
    background: $color-secondary;
    border: none;
    padding: 0 1.875rem;
    margin: 1.5625rem 0 1rem 0;
    outline-color: $color-primary-border;
    text-align: center;
    height: 60px;
    width: 458px;
    border-radius: 50px;
}


button{
    height: 60px;
    width: 219px;
    border-radius: 60px;
    background-color: $color-secondary;
    cursor: pointer;
    margin-left: 320px;
    margin-top: 100px;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
}

button:hover{
    color: white;
}

