@import "/src/styles/variables.scss";

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 4.875rem);
    margin-left: 108px;
    //margin-top: 50px;
}

.container-logo{
    margin-top: 60px;
    width:672px;
    height:296px;
}

.container-inputs{
    margin-top: 139px;
    margin-left: 113px;
}

.container-repite{
    margin-top: 90px;
}

h2{
    margin-left: 70px;
    border-radius: nullpx;
}

input{
    font-weight: 400;
    font-size: 1.25rem;
    background: $color-secondary;
    border: none;
    padding: 0 1.875rem;
    margin: 1.5625rem 0 1rem 0;
    outline-color: $color-primary-border;
    text-align: center;
    height: 60px;
    width: 458px;
    border-radius: 50px;
}


button{
    height: 60px;
    width: 219px;
    border-radius: 60px ;
    background-color: $color-secondary;
    cursor: pointer;
    margin-left: 320px;
    margin-top: 100px;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    border: none !important;
}

button:hover{
    color: white;
}


@media (max-width: 1400px) {
    .container{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        //min-height: calc(100vh - 4.875rem); //4.875rem = 78px --> altura del footer
    }
    .container-logo{
        margin-left: 108px;
        width: 30.25rem;
    }
    .container-inputs{
        margin-left: 150px;
    }
    input{
        margin: 1.2rem 0 2.4rem 0;

    }
}

@media (max-width: 768px) {
    .container{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        //min-height: calc(100vh - 4.875rem); //4.875rem = 78px --> altura del footer
    }
    .container-logo{
        width: 18rem;
        margin: 1rem 0;
        
    }
    .container-inputs{
        margin-top: 0px;
        margin-left: 0px;
    }
    button{
        margin-left: 240px;
    }

}

