<div class="container">
    <div>
        <img  class="container-logo" src="/assets/images/logo-MDP.svg"  alt="Logo Mensajeros de la Paz">
    </div>
    <form [formGroup]="formg" class="container-inputs">
        <div>
            <h2>Nueva contraseña</h2>
            <input type="password" formControlName="password">
            <div>
                <span style="color: red;" *ngIf="f['password'].errors !=null">
                    Más de 8 caracteres
                </span>
                <!-- <span style="color: red;" *ngIf="f['password'].getError('required') ">
                required
            </span> -->
            </div>
        </div>
        <div class="container-repite">
            <h2>Repite la contraseña</h2>
            <input type="password" formControlName="confirmPassword" >
            <div *ngIf="f.confirmPassword.invalid && f.confirmPassword.dirty" >
                <mat-error *ngIf="formg.hasError('notSame') !=null" >
                    Las contraseñas no coinciden 
                </mat-error>
            </div>
        </div>

        <button (click)="confirm(formg.value)" [disabled]="!formg.valid">Confirmar</button>
    </form>

</div>
