<div class="container">
    <form > 
        <label for="">Nombre y Apellido *</label>
        <input type="text">
        <label for="">Centro</label>
        <select name="" id=""  >
            <option value="">Selecciona un centro</option>
            <option value="">1</option>
            <option value="">2</option>
            <option value="">3</option>
        </select>
        <label for="">Usuario (direccion de email)*</label>
        <input type="text">
        <label for="">Contraseña (al menos 8 caracteres) *</label>
        <input type="text">
        <button mat-button (click)="confirm()">Confirmar</button>
    </form>
    
</div>