<section class="container-center">
  <div class="center">
    <h1 class="center__title">Centros</h1>
    <div class="center__container-search">
      <a class="btn-add-center" (click)="create()" style="cursor: pointer">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="19"
          height="19"
          fill="currentColor"
          class="bi bi-building btn-add-center__ico"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022zM6 8.694 1 10.36V15h5V8.694zM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15z"
          />
          <path
            d="M2 11h1v1H2v-1zm2 0h1v1H4v-1zm-2 2h1v1H2v-1zm2 0h1v1H4v-1zm4-4h1v1H8V9zm2 0h1v1h-1V9zm-2 2h1v1H8v-1zm2 0h1v1h-1v-1zm2-2h1v1h-1V9zm0 2h1v1h-1v-1zM8 7h1v1H8V7zm2 0h1v1h-1V7zm2 0h1v1h-1V7zM8 5h1v1H8V5zm2 0h1v1h-1V5zm2 0h1v1h-1V5zm0-2h1v1h-1V3z"
          />
        </svg>
        <span class="btn-add-center__text"> AGREGAR CENTROS </span>
      </a>
      <label for="searchAxes" class="lbl-search-center">
        <input
          class="lbl-search-center__input"
          id="searchAxes"
          type="text"
          [(ngModel)]="Centro"
          (ngModelChange)="busca($event)"
          autocomplete="off"
          spellcheck="false"
        />
        <img
          class="lbl-search-center__ico"
          src="../../../../../assets/icons/Search.svg"
          alt="Icono de lupa para busqueda"
        />
      </label>
    </div>
    <section class="list-center">
      <div class="list-center__table">
        <!-- Position Column -->
        <div class="list-center__row">
          <div class="list-center__header">Nombre</div>
          <div class="list-center__header">Zona</div>
          <div class="list-center__header list-center__header--action">
            Acciones
          </div>
        </div>

        <div class="list-center__row" *ngFor="let element of centros">
          <div class="list-center__cell list-center__cell--center">
            {{ element.nombre }}
          </div>
          <div class="list-center__cell list-center__cell--middle">
            {{ element.zona }}
          </div>
          <div class="list-center__cell list-center__cell--acction">
            <a (click)="edit(element)">
              <img
                class="list-center__ico-action list-center__ico-action--edit"
                src="../../../../../assets/icons/Pencil.svg"
                alt="Icono de editar"
                matTooltip="Editar"
              />
            </a>
            <img
              class="list-center__ico-action"
              src="../../../../../assets/icons/Trash.svg"
              alt="icono de Eliminar"
              matTooltip="Borrar"
              (click)="elim(element)"
            />
            <img
              class="list-center__ico-action"
              src="../../../../../assets/icons/compare-24.png"
              alt="icono de Comparar"
              matTooltip="Comparar Reportes"
              (click)="createCompareReports(element.id)"
            />
            <img
              class="list-center__ico-action list-center__ico-action--report"
              src="../../../../../assets/icons/Book.svg"
              alt="icono de Mostrar informes"
              matTooltip="Informes Comparativos"
              (click)="viewComparisonReport(7)"
            />
          </div>
        </div>
      </div>
      <div class="pagination">
        <p class="pagination-text">
          {{ initialItem }} - {{ finalItem }} de {{ listLenght }}
        </p>
        <svg
          (click)="onClickBefore()"
          class="pagination-arrow"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M14 7L9 12L14 17V7Z"
            fill="black"
            fill-opacity="0.87"
          />
        </svg>
        <svg
          (click)="onClickAfter()"
          class="pagination-arrow"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M10 7L15 12L10 17V7Z"
            fill="black"
            fill-opacity="0.87"
          />
        </svg>
      </div>
    </section>
  </div>
  <div *ngIf="flagNew" class="modal">
    <img
      class="modal__btnClose"
      (click)="close()"
      src="../../../../../assets/icons/X.svg"
      alt="icono de cerrar"
    />
    <div class="modal__container">
      <img
        class="modal__ico"
        src="../../../../../assets/icons/Check.svg"
        alt="icon check"
      />
      <p class="modal__text">
        ¡El centro {{ data.center?.nombre }} fue creado con éxito!
      </p>
    </div>
  </div>

  <div *ngIf="flagEdited" class="modal">
    <img
      class="modal__btnClose"
      (click)="close()"
      src="../../../../../assets/icons/X.svg"
      alt="icono de cerrar"
    />
    <div class="modal__container">
      <img
        class="modal__ico"
        src="../../../../../assets/icons/Check.svg"
        alt="icon check"
      />
      <p class="modal__text">
        ¡El centro {{ data.center?.nombre }} fue editado con éxito!
      </p>
    </div>
  </div>

  <div *ngIf="flagDelete" class="modal-delete">
    <div class="modal__container-delete">
      <img
        class="modal__ico-info"
        src="../../../../../assets/icons/Exclamation-triangle.svg"
        alt="Icono de información"
      />
      <p class="modal__text">
        ¡Estas a punto de eliminar este dato!<br />Esta acción no podrá ser
        revertida
      </p>
    </div>
    <div class="modal__options">
      <button class="btn-modal__cancel" (click)="close()">Cancelar</button>
      <button class="btn-modal__accept" (click)="delete()">
        Confirmar y eliminar
      </button>
    </div>
  </div>
  <app-modal-alert
    [flag]="flagCreatedReport"
    type="success"
    [modalText]="modalText"
  ></app-modal-alert>
</section>
