<section class="axes">
  <h1 class="axes__title">Ejes</h1>
  <div class="axes__container-search">
    <button class="btn-add-axes">
      <img
        class="btn-add-axes__ico"
        src="../../../../../assets/icons/List ol.svg"
        alt="Icono de lista ordenada"
      />
      <span class="btn-add-axes__text"> AGREGAR EJES </span>
    </button>
    <label for="search" class="lbl-search-axes">
      <input class="lbl-search-axes__input" type="text" />
      <img
        class="lbl-search-axes__ico"
        src="../../../../../assets/icons/Search.svg"
        alt="Icono de lupa para busqueda"
      />
    </label>
  </div>
</section>
