@import "../../../../../styles/variables.scss";

.container-axes {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-left: 123px;
  .axes {
    font-size: 16px;
    width: 100%;
    max-width: 71.0625em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 7.9375em;
    .axes__title {
      font-size: 1.875rem;
      line-height: 1.2em;
      text-align: center;
      color: $color-text-primary;
      margin-top: 2.5em;
      margin-bottom: 1.166em;
    }
    .axes__container-search {
      display: flex;
      align-items: center;
      align-self: flex-start;
      .btn-add-axes {
        font-size: 1em;
        text-decoration: none;
        display: flex;
        align-items: center;
        width: 10.75em;
        height: 3em;
        background: $color-4;
        box-shadow: 0em 0.25em 0.3125em rgba(0, 0, 0, 0.14),
          0em 0.0625em 0.625em rgba(0, 0, 0, 0.12),
          0em 0.125em 0.25em rgba(0, 0, 0, 0.2);
        border-radius: 3.125em;
        .btn-add-axes__ico {
          width: 1.1875em;
          margin-left: 0.75em;
          margin-right: 0.5em;
        }
        .btn-add-axes__text {
          font-family: "Roboto Md 500";
          font-size: 0.875em;
          line-height: 1.142em;
          letter-spacing: 0.0892em;
          color: $color-white;
        }
      }
      .lbl-search-axes {
        display: flex;
        align-items: center;
        .lbl-search-axes__input {
          width: 32.0625em;
          height: 2.8125em;
          border: 0.0625em solid #979797;
          border-radius: 0.5em;
          margin: 0 1.875em;
          outline-color: $color-primary-border;
          font-size: 1em;
          padding: 0 1.25em;
        }
        .lbl-search-axes__ico {
          width: 1.5em;
        }
      }
    }
    .list-axes {
      width: 100%;
      max-width: 71.0625em;
      .list-axes__table {
        margin-top: 22px;
        max-width: 100%;
        border-collapse: separate;
        border-spacing: 0px 8px;
        .list-axes__row {
          box-shadow: 0 2px 2px #00000040;
          height: 48px;
          margin-bottom: 8px;
          padding-left: 1.5em;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .list-axes__header {
            text-align: start;
            font-family: "Inter-700";
            font-size: 1em;
            line-height: 1.1875em;
            color: #000000;
            &:first-of-type {
              padding-left: 1.5em;
            }
          }
          .list-axes__header--action {
            width: 153px;
          }

          .list-axes__cell--acction {
            width: 153px;
            height: 50px;
            display: flex;
            align-items: center;
            .list-axes__ico-action {
              padding: 0.625em 0.625em 0.625em 0;
              margin-right: 1.0625em;
              cursor: pointer;
            }
            .list-axes__ico-action--edit {
              margin-top: 4px;
            }
          }
          .list-axes__cell {
            font-family: "Inter" !important;
            font-size: 1em;
            line-height: 1.1875em;
            color: #000000;
            &:first-of-type {
              padding-left: 1.5em;
            }
          }
        }
      }
    }
  }
}
.modal {
  position: absolute;
  top: 134px;
  z-index: 200;
  width: 525px;
  height: 264px;
  background-color: #def2d6;
  border: 1px solid #def2d6;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding-bottom: 21px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .modal__btnClose {
    padding: 21px 12px 18px 25px;
    width: 61px;
    height: 70px;
    align-self: flex-end;
    cursor: pointer;
  }
  .modal__container {
    width: 474px;
    display: flex;
    // margin-top: 18px;
    .modal__ico {
      width: 94px;
      height: 120px;
    }
    .modal__text {
      font-size: 24px;
      text-align: center;
      letter-spacing: 0.25px;
      color: #154520;
      padding-top: 40px;
      margin-bottom: 0;
      margin-left: 15px;
    }
  }
}
.modal-delete {
  position: absolute;
  top: 134px;
  z-index: 200;
  width: 525px;
  height: 297px;
  background-color: #cce8f4;
  border: 1px solid #cce8f4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding-bottom: 21px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  .modal__container-delete {
    width: 474px;
    display: flex;
    margin-top: 58px;
    .modal__ico-info {
      width: 88px;
      height: 90px;
    }
    .modal__text {
      font-size: 24px;
      text-align: center;
      letter-spacing: 0.25px;
      color: #083d5e;
      padding-top: 15px;
      margin-bottom: 0;
      margin-left: 15px;
    }
  }
  .modal__options {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 44px;
    padding-right: 17px;
    .btn-modal__cancel {
      width: 168px;
      height: 70px;
      background: #ffffff;
      border: 1px solid #083d5e;
      border-radius: 35px;
      font-size: 20px;
      cursor: pointer;
      &:hover {
        border: 3px solid #083d5e;
      }
    }
    .btn-modal__accept {
      width: 168px;
      height: 70px;
      color: #e50d0d;
      background: #ffffff;
      border: 1px solid #d10e0e;
      border-radius: 35px;
      font-size: 20px;
      cursor: pointer;
      &:hover {
        border: 3px solid #d10e0e;
      }
    }
  }
}
::ng-deep .cdk-overlay-container {
  .mat-snack-bar-container {
    display: flex;
    justify-content: center;

    width: 525px;
    max-width: 50vw;
    height: 264px;
    background-color: #def2d6;
    .mat-simple-snackbar {
      height: 169px;
      width: 485px;
      // height: 110px;
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-between;
      align-items: center;
      .mat-simple-snack-bar-content {
        font-size: 24px;
        text-align: center;
        letter-spacing: 0.25px;
        color: #154520;
      }
      .mat-simple-snackbar-action {
        font-size: 14px;
        align-self: flex-end;
        .mat-button-wrapper {
          font-family: "Roboto Md 500";
        }
      }
    }
  }
}
@media (max-width: 1400px) {
  .container-axes {
    justify-content: flex-start;
    .axes {
      margin-right: 4.375em;
      margin-left: 7.9375em;
      .axes__title {
        margin-top: 40px;
        padding-right: 57px; //centra el titulo alineado con el logo del header
      }
    }
  }
  ::ng-deep .cdk-overlay-container {
    .mat-snack-bar-container {
      width: 372px;
      height: 140px;
      .mat-simple-snackbar {
        height: 100px;
        width: auto;
        .mat-simple-snack-bar-content {
          font-size: 25px;
          line-height: 28px;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .container-axes {
    .axes {
      font-size: 0.875em;
      margin-left: 7em;
      .axes__title {
        padding-right: 135.75px;
      }
    }
  }
}
