<section class="container-axes">
  <div class="axes">
    <h1 class="axes__title">Ejes</h1>
    <div class="axes__container-search">
      <a class="btn-add-axes" routerLink="agregar-eje">
        <img
          class="btn-add-axes__ico"
          src="../../../../../assets/icons/List ol.svg"
          alt="Icono de lista ordenada"
        />
        <span class="btn-add-axes__text"> AGREGAR EJES </span>
      </a>
      <label for="searchAxes" class="lbl-search-axes">
        <input
          class="lbl-search-axes__input"
          id="searchAxes"
          type="text"
          [(ngModel)]="itemSearch"
          (ngModelChange)="Search(itemSearch)"
          autocomplete="off"
          spellcheck="false"
        />
        <img
          class="lbl-search-axes__ico"
          src="../../../../../assets/icons/Search.svg"
          alt="Icono de lupa para busqueda"
        />
      </label>
    </div>
    <section class="list-axes">
      <div class="list-axes__table">
        <!-- Position Column -->
        <div class="list-axes__row">
          <div class="list-axes__header">Ejes</div>
          <div class="list-axes__header list-axes__header--action">
            Acciones
          </div>
        </div>

        <div
          class="list-axes__row"
          *ngFor="let element of listOfAxes_toShow | async"
        >
          <div class="list-axes__cell list-axes__cell--axe">
            {{ element.nombre }}
          </div>
          <div class="list-axes__cell list-axes__cell--acction">
            <a [routerLink]="['agregar-eje/', element.id.toString()]">
              <img
                class="list-axes__ico-action list-axes__ico-action--edit"
                src="../../../../../assets/icons/Pencil.svg"
                alt="Icono de editar"
                matTooltip="Editar"
              />
            </a>
            <img
              class="list-axes__ico-action"
              src="../../../../../assets/icons/Trash.svg"
              alt="icono de Eliminar"
              matTooltip="Borrar"
              (click)="deleteAxe(element.id)"
            />
          </div>
        </div>
      </div>
    </section>
  </div>
</section>
